body {
    font-size: 16px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

#container {
    margin: 40px auto;
    width: 600px;
    border: 1px lightgrey solid;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 2em;
}
#todo {
    padding: 5px;
    width: 80%;
}
.todo-counter {
    background-color: palegreen;
    width: 100%;
}
.todo-counter ul {
    list-style: none;
    padding: 0;

}
.todo-counter ul li {
    display: inline;
}
input[type=checkbox]:checked + label {
    color:lightgray;
    text-decoration: line-through;
}
.checkbox-label {
    font-family: 'Coming Soon', cursive;
    font-size: 1.25em;
}

#submit {
    padding: 5.5px;
    border: none;
    border-radius: 5px;
    background-color: palegreen;
}
li {
    padding-right: 20px;
}